<h2 mat-dialog-title>{{ data ? "Edit Task" : "Add Task" }}</h2>
<mat-dialog-content>
  <form [formGroup]="taskForm" novalidate>
    <mat-form-field appearance="fill">
      <mat-label>Task Title</mat-label>
      <input matInput formControlName="title" />
      <mat-error *ngIf="taskForm.get('title')?.hasError('required')">
        Title is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Task Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="todo">To Do</mat-option>
        <mat-option value="in-progress">In Progress</mat-option>
        <mat-option value="done">Done</mat-option>
      </mat-select>
      <mat-error *ngIf="taskForm.get('status')?.hasError('required')">
        Status is required
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="taskForm.value"
    [disabled]="taskForm.invalid"
  >
    Save
  </button>
</mat-dialog-actions>
