.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    margin: 24px;

    .alert {
      margin: 0 16px 16px 16px;
    }
  }
}
