.container {
  width: 100%;
  min-height: calc(100vh - 64px);
}

.spacer {
  flex: 1 1 auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}