.header {
    margin-top: 20px;

    width: 100%;
}

.alert {
    margin-top: 10px;
}

.add-task-button {
    margin-bottom: 20px;
}

.task-card {
    margin-bottom: 20px;
}

.action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;

    .add-task-button {
        flex-shrink: 0;
    }

    .filter-sort-container {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }

    .status-select,
    .sort-select,
    .sort-order-select {
        width: 150px;
    }
}