<div class="container mt-4">
  <button
    mat-raised-button
    color="primary"
    (click)="openTaskDialog()"
    class="add-task-button"
  >
    Add Task
  </button>

  <div *ngIf="taskStore.isLoading(); else taskList">
    <mat-spinner></mat-spinner>
  </div>

  <ng-template #taskList>
    <div *ngIf="taskStore.getError()">
      <div class="alert alert-danger mt-4">
        {{ taskStore.getError()?.message }}
      </div>
    </div>

    <div *ngIf="taskStore.getTasks().length; else noTasks">
      <div class="row">
        <div class="col-md-4" *ngFor="let task of taskStore.getTasks()">
          <mat-card class="task-card">
            <mat-card-header>
              <mat-card-title>{{ task.title }}</mat-card-title>
              <mat-card-subtitle
                >Status: {{ task.status | titlecase }}</mat-card-subtitle
              >
            </mat-card-header>
            <mat-card-content>
              <p>{{ task.description }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="openTaskDialog(task)">Edit</button>
              <button mat-button color="warn" (click)="confirmDelete(task)">
                Delete
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>

    <ng-template #noTasks>
      <div class="alert alert-info mt-4">
        No tasks available. Please add some tasks.
      </div>
    </ng-template>
  </ng-template>
</div>
